In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_context('notebook', font_scale=1.3)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from utils import get_data
version = '1.0'
data = get_data(version, '../data')
df = data['blockworld']

In [7]:
def parse_state(state):
    return tuple((tuple(filter(None, col.split(','))) 
                  for col in state.split(':')))

df.states = df.states.apply(lambda states: list(map(parse_state, states)))

In [8]:
df.head()

,states,time_elapsed,times,trial_type,pid
0,"[((), (C, B), (A,)), ((), (C, B, A), ())]",42447,[2641],blockworld,1
1,"[((), (B, D, A), (C,)), ((), (B, D, A, C), ())...",110394,"[8282, 21972, 23209, 24745, 28025, 30305, 3158...",blockworld,1
2,"[((C,), (A, E, B, D), ()), ((C,), (A, E, B), (...",142769,"[7094, 9246, 12341, 16638, 17918, 19870, 21902...",blockworld,1
3,"[((E,), (C, B, A), (D,)), ((E,), (C, B), (D, A...",170177,"[7788, 8967, 9646, 11694, 13893, 14972, 16524,...",blockworld,1
4,"[((E, B), (C, A, D), ()), ((E,), (C, A, D), (B...",215471,"[8210, 9302, 11774, 13726, 17814, 22374, 24937...",blockworld,1